<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>STORE SHARE</title>
    <link rel="icon" type="image" href="{{url_for('static',filename='favicon.ico')}}">
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='bootstrap.min.css')}}"
    />
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}" />
    <link
      href="https://fonts.googleapis.com/css?family=Oxygen:400,300,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <header>
      <nav id="header-nav" class="navbar navbar-default">
        <div class="container">
          <div class="navbar-brand">
            <h1>store share</h1>
          </div>
          <div class="rgt">
            <a href="/login">
              <button id="login" onclick="logout()">LogOut</button>
            </a>
          </div>
        </div>
        <!-- .container -->
      </nav>
      <!-- #header-nav -->
    </header>
    <form method="post"></form>

    <form id="bla" class="text-center" action="" method="post">
      <br />
      <textarea
        rows="30"
        cols="150"
        id="tf"
        name="textform"
        placeholder="Go ahead and explore!!!"
        autofocus
        required
      >
{{content}}</textarea
      >
      <br />
      <!-- <span class="glyphicon glyphicon-edit"></span> -->
      <input id="sf" type="submit" value="submit" onclick="submitFunc()" />
    </form>

    <!-- <span class="glyphicon glyphicon-trash"></span> -->

    <!-- <div id="respone">
        <button type="button">edit</button>
        <button type="button"> Submit</button>
        <button type="button"> delete</button>
    </div>   -->

    <div class="text-center hide">
      <div id="url">
        <input id="ef" type="button" value="edit" onclick="editFunc()" />

        <input type="text" placeholder="Enter URL" name="" required />
        <input id="df" type="button" value="delete" onclick="deleteFunc()" />
      </div>
    </div>

    <script src="{{url_for('static',filename='jquery-2.1.4.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='script.js')}}"></script>
  </body>
</html>
