<!DOCTYPE html>   
<html>   
  <head>
     <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
  </head>  
<!-- Button trigger modal -->
<body>
<h2> Sign in/up Form</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form method="post" action="/login" name="signupform">
			<h1>Create Account</h1>
			
			<input type="text" placeholder="user name" name="username"/>
			<input type="password" placeholder="Password" name="password"/>
			<button type="submit" onclick="signUpFunc()">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form method="post" action="/login" name="loginform" >
			<h1>Sign in</h1>
			
			<input id="name" type="text" placeholder="user name" name="username"/>
			<input id="passwd" 	type="password" placeholder="Password" name="password"/>
			<button type="submit" onclick="loginFunc()">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Create your account and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>


<script src="{{url_for('static',filename='login.js')}}"></script>
<script src="{{url_for('static',filename='script.js')}}"></script>

</body>
</html>