<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STORE SHARE</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='bootstrap.min.css')}}"
    />
    <link rel="icon" type="image" href="{{url_for('static',filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}" />
    <link
      href="https://fonts.googleapis.com/css?family=Oxygen:400,300,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora"
      rel="stylesheet"
      type="text/css"
    />
    <script
      src="https://kit.fontawesome.com/2c697100cc.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav id="header-nav" class="navbar navbar-default">
        <div class="container">
          <div class="navbar-brand">
            <h1>store share</h1>
          </div>
        </div>
        <!-- .container -->
      </nav>
      <!-- #header-nav -->
    </header>
    <form class="text-center" method="post">
      <p style="color: red; font-size: 2rem;">{{message}}</p>
      <button class="btn btn-primary font-aw" type="submit" >
        <i class="far fa-edit"></i>
        Edit
      </button>
      <textarea rows="30" cols="150" name="textform" readonly>{{content}}</textarea>
    </form>
    <div class="text-center">
      <h4>
        If you want to edit or delete,please do <a class="btn btn-primary" href="/login" role="button">login</a><br><br>
        Create a <strong>PASTE BIN</strong> of your own, <a class="btn btn-primary" href="/" role="button">Click Me!</a> 
      </h4>
    </div>
    <script src="{{url_for('static',filename='jquery-2.1.4.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='script.js')}}"></script>
  </body>
</html>
